/* The base layer is for things like reset rules or default styles applied to plain HTML elements. */
/* The components layer is for class-based styles that you want to be able to override with utilities. */
/* The utilities layer is for small, single-purpose classes that should always take precedence over any other styles. */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="file"] {
    @apply hidden;
  }
  body {
    /* Custom Scrollbar  */
    /* @apply snap-y snap-mandatory overflow-y-scroll overflow-x-hidden scrollbar-thin scrollbar-track-gray-400/20 scrollbar-thumb-offbrand-500/80; */
    @apply relative font-normal min-h-screen scrollbar-thin scrollbar-track-gray-400/20 scrollbar-thumb-zinc-500 bg-brand-600 text-white scroll-smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
    -webkit-text-size-adjust: 100%;
    -ms-font-feature-settings: "kern" 1;
    font-feature-settings: "kern";
  }
  input[type="file"] {
    @apply hidden;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #888;
  }
}

@layer components {
  .page {
    @apply relative bg-[rgb(36,36,36)] text-white min-h-screen z-0;
  }

  .heading {
    @apply text-2xl sm:text-3xl md:text-4xl font-semibold;
  }

  .btnBase {
    @apply inline-block text-center font-semibold rounded-md px-4 py-2 transition duration-300 ease-in-out uppercase text-sm;
  }

  .heroButton {
    @apply btnBase text-white bg-offbrand-400 hover:bg-offbrand-500;
  }
}

@layer utilities {
  /* * iOS Padding */
  .safe-top {
    padding-top: calc(env(safe-area-inset-top));
  }
  .safe-bottom {
    padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
  }
}
